


#mainContainer {
	max-width: 800px;
	margin: auto;
	border-width: 3px;
	border-style: solid;
	border-color: #cccccc;
	padding: 0px;
	height: 600px;
}

#header {
	background-color: #515151;
	margin: 0px;
}

#main_window {
	border-style: solid;
	border-color: #515151;
	border-width: 2px;
	display: flex;
	/*justify-content: center;*/
	/*align-content: space-between;*/
	flex-direction: row;
}

.header_button{
	color: white;
	padding: 10px;
	margin: 0px;
	text-align: right;
	background-color: #515151;
}

.header_button:hover{
	background-color: #616161;
}

.link_container {
	margin: 40px;
	border-width: 2px;
	border-style: solid;
	border-color: #cccccc;
	width:30%;
	height: 170px;
	float: left;
	box-shadow: 5px 5px 5px #515151;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*float:left;*/
}

.link_container:active {
	box-shadow: 2px 2px 2px #515151;
}


.link_container:hover{
	background-color: #b6ff94;
}

.avatar {
	/*width: 40%;*/
	margin: 5px;
	border-radius: 50%;
	width: 120px;
	height: 120px;

}